.App {
  display: flex;
  text-align: center;
  
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f0e8e5;
  height: 100vh;
  margin: 0;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.activeusers-div{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  background-color: #eed3c9;
  border-right: 4px solid black;
  border-radius: 10px 0px 0px 10px;
  width: 20%;
  max-width: 300px;
}
.activeusers-div h3{
  margin: 0 auto;
  padding: 15px;
  background-color: rgba(153, 19, 19, 0.699);
  border-radius: 10px 0px 0px 0px;
  margin-bottom: 12px;
  width: 85%;
  text-align: left;
  font-size: 1rem;
  
}

.activeusers-small-div{
  display: none;
  
}



.activeuser{
  
  padding: 4px;
  padding-left: 10px;
  text-align: left;
}
.activeuser:hover{
  padding: 4px;
  margin-left: 4px;
  text-align: left;
  background-color: rgba(156, 52, 52, 0.699);
}

.chat {
  display: flex;
  flex-direction: column;
  background-color: #eed3c9;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.chat-header{
  display: flex;
  flex-direction: column;
  background-color: rgba(153, 19, 19, 0.699);
  position: relative;
}

.back-arrow{
    display: block;
    position: absolute;
    top: 2px;
    left: 20px;
    width: 40px;
    height: 40px;
}

.not-shown{
  display: none;
}

.fabars{
  display: none;
  
}

.header{
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: larger;
  color: bisque;
  border-radius: 0px 10px 0px 0px;

}

.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 10px;
  overflow-y: auto;

}


.message-user{
  
  width: fit-content;
  margin-top: 0.5rem;
  padding: 7px;
  border-radius: 20px;
  color: black;
  font-size: 15px;
  max-width: 50%;
  word-wrap: break-word;
  font-size: 0.9rem;

}


.message-body {
  background-color: rgb(136, 49, 49);
  width: fit-content;
  
  padding: 7px 14px;
  border-radius: 20px;
  color: aliceblue;
  font-size: 15px;
  max-width: 50%;
  word-wrap: break-word;
  font-size: 1rem;

}

.current-user-message{
  background-color: rgb(4, 18, 138);
  width: fit-content;
  
  padding: 7px 14px;
  border-radius: 20px;
  color: aliceblue;
  margin-left: auto;
  margin-top: -15px;
  font-size: 15px;
  max-width: 50%;
  word-wrap: break-word;
}

.chat-input{
  display: flex;
  margin-top: auto;
}

.sendmessage{
  display: flex;
  width: 100%;
  padding: 15px;
}

.sendmessage-form{
  display: flex;
  width: 100%;
}

.sendmessage-input {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  font-size: 16px;
  background-color: bisque;
  word-wrap: break-word;
  margin-right: 10px;
}

.sendmessage-btn{
  border-radius: 10px;
  margin-left: auto;
  color: white;
  background-color: rgba(138, 46, 9, 0.836);
  
}

.sendmessage-btn:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(168, 104, 78);;
  border-color: rgb(168, 104, 78);
  
}

@media (max-width: 500px) {
  .activeusers-div{
    display: none;
  }
  .fabars{
    display: block;
    position: absolute;
    top: 13px;
    right: 20px;
    width: 20px;
    height: 20px;
    
  }
  .activeusers-small-div{
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    background-color: #0a0a0a;
    border-right: 4px solid black;
    margin: 10px;
    width: 95%;
    
  }
  .activeusers-small-div h3{
    margin-bottom: 10px;
    
  }

  .activeuser{
    text-align: center;
  }
}